@import '../index.css';

.hero_section_container {
  display: flex;
  padding: 40px 5%;
  justify-content: space-between;
}
.hero_section_container .left_hero {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
.hero_section_container .left_hero h1{
  font-size: 70px;
} 
.hero_section_container .left_hero h2{
  font-size: 20px;
  background: var(--third-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
} 
.hero_section_container .right_hero_image {
  width: 40%;
}
.hero_section_container .right_hero_image_mobile {
  display: none;
}

@media (max-width:960px) {
  .hero_section_container { 
    padding: 20px 5%; 
    flex-direction: column-reverse;
  }
  .hero_section_container .left_hero {
    width: 100%; 
  } 
  .hero_section_container .left_hero img{ 
    display: none; 
  } 
  .hero_section_container .left_hero h1{
    font-size: 40px;
  }  
  .hero_section_container .right_hero_image {
    display: none;
  }
  .hero_section_container .right_hero_image_mobile {
    display: block;
  }
}