@import '../index.css';

.food__category {
  background: var(--secondary-color);
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
}

.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}

.food__category button img {
  width: 20px;
  height: 20px;
}

.foodBtnActive {
  background: #fff !important;
  border-radius: 5px;
  color: var(--secondary-color) !important;
}
 

@media only screen and (max-width: 768px) {
  .food__category {
    padding: 15px;
  }

  .food__category button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}
